body {
	font-size: 2vmin;
}

button {
	font-size: 1.8vmin;
}

.header {
	margin-bottom: 4vmin;
}


.matrix {
	margin:0 auto;
	overflow: auto;
	width: 60vmin;
}

.matrix-item {
	position: relative;
	box-sizing: border-box;
	float: left;
	height: 20vmin;
	width: 20vmin;

}


.matrix-item.cross:before {
	content: 'X';
	font-family: 'arial';
	font-size: 12vmin;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 9.5vmin;
	height: 13vmin;
}

.matrix-item.circle:before {
	content: 'O';
	font-family: 'arial';
	font-size: 12vmin;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 9.5vmin;
	height: 13vmin;
}

.matrix-item.win {
	background-color: #c3ff4d;
}




.matrix-item:nth-child(1) {
	border-right: 1px solid blue;
	border-bottom: 1px solid blue;
}
.matrix-item:nth-child(2) {
	border-right: 1px solid blue;
	border-bottom: 1px solid blue;
}
.matrix-item:nth-child(3) {
	border-bottom: 1px solid blue;
}
.matrix-item:nth-child(4) {
	border-right: 1px solid blue;
	border-bottom: 1px solid blue;
}
.matrix-item:nth-child(5) {
	border-right: 1px solid blue;
	border-bottom: 1px solid blue;
}
.matrix-item:nth-child(6) {
	border-bottom: 1px solid blue;
}
.matrix-item:nth-child(7) {
	border-right: 1px solid blue;
}
.matrix-item:nth-child(8) {
	border-right: 1px solid blue;
}